<%- include('partials/header') %>

<div class="container">
  <div class="text-center">
    <h1>Pedigree Browser<br><small>Sample app for the FamilySearch JS Lite SDK</small></h1>
    <a href="/signin" class="btn btn-primary btn-lg">Sign In</a>
  </div>
  <a class="btn btn-primary btn-large" href="https://sort-webvr.glitch.me/video_space.html">Spacewalk</a>
  <a class="btn btn-primary btn-large" href="https://fsb-vr.glitch.me/">new FamilySearch building</a>
  <a class="btn btn-primary btn-large" href="/photos">Interesting Photos</a>
  <!--<a class="btn btn-primary btn-large" href="/vr-pedigree">A-Frame demos</a>-->
  <a class="btn btn-primary btn-large" href="/room">Room Demo</a>
  <a class="btn btn-primary btn-large" href="http://sort-webvr.glitch.me/">A-Frame Demos</a>
  <a class="btn btn-primary btn-large" href="https://haydenlee.io/networked-aframe/a-saturday-night/">Dance Fever</a>

  <br/>
  <a href="/slides">Presentation Slides</a>
</div>
  
<%- include('partials/footer') %>