<html>
<head>
  <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
  <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v3.12.3/dist/aframe-extras.min.js"></script>
  <script src="https://unpkg.com/aframe-html-shader@0.2.0/dist/aframe-html-shader.min.js"></script>
  <link rel="import" href="pedigree-app.html">
</head>
<body>

<!--<fs-client id="bob" app-key="<%= apiKey %>" redirect-uri="/oauth-redirect" environment="beta" save-access-token></fs-client>-->
<pedigree-app session="<%= JSON.stringify(session) %>"></pedigree-app>

<div id="debug"></div>
<div style="width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: -1; overflow: hidden">
  <div id="htmlElement" style="background: #F8F8F8; color: #333; font-size: 48px; width: 300px">Hello, HTML!</div>
</div>

<a-scene canvas="" keyboard-shortcuts="" vr-mode-ui="">
  <a-assets>
    <a-asset-item id="heads" src="models/lego/scene.gltf"></a-asset-item>
  </a-assets>

  <a-entity id="model-obj" gltf-model="#heads" position="0 1 41.5" scale="0.1 0.1 0.1"
      material="color: #f457ff"></a-entity>

  <a-entity text="font: mozillavr; value: Via stock font name."  position="0 1 39" color="#fff"></a-entity>
  <a-entity text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Via URL."  position="2 3 40" color="#ff0000"></a-entity>

  <a-entity
          geometry="primitive: plane; width: 4; height: auto"
          material="color: blue" position="-2 2 39"
          text="value: This text will be 4 units wide."></a-entity>

  <!-- Help Sign -->
  <a-entity geometry="primitive: ; depth: 0.1 height: 3; width: 1" position="0 -0.1 40.65" rotation="55 0 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity geometry="primitive: plane; height: 1.7; width: 3" position="0 0.4 41" rotation="-25 0 0"
            material="shader: flat; src: url(images/help.png)"></a-entity>

  <a-curvedimage color="red" radius="5" theta-length="135" transparent="false"
  position="0 0 40"></a-curvedimage>

  <a-entity geometry="primitive: cylinder; openEnded: true; thetaLength: 180"
            material="side: double" position="0 0 40"></a-entity>

  <a-entity geometry="primitive: box; width: 3" material="shader: html; target: #htmlElement" position="0 0 35" debug="#debug"></a-entity>


  <!-- First Row -->
  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-20 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-20 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/theater/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-20 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/theater.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-20 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-20 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-theater.png)"
                 src="images/title-theater.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-15 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-15 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/living-room/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-15 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/living-room.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-15 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-15 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-living-room.png)"
                 src="images/title-living-room.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-10 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-10 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/minecraft/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-10 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/minecraft.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-10 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-10 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-minecraft.png)"
                 src="images/title-minecraft.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-5 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-5 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/tron/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-5 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/tron.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-5 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-5 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-tron.png)"
                 src="images/title-tron.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="0 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="0 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href=''"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="0 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/infiverse.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="0 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="0 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-infiverse.png)"
                 src="images/title-infiverse.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="5 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="5 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://vr.lasershop.ca/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="5 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/lasershop.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="5 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="5 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-lasershop.png)"
                 src="images/title-lasershop.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="10 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="10 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://vr.gadgetplus.ca/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="10 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/gadgetplus.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="10 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="10 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-gadgetplus.png)"
                 src="images/title-gadgetplus.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="15 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="15 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/tunnel/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="15 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/tunnel.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="15 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="15 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-tunnel.png)"
                 src="images/title-tunnel.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="20 4 0"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="20 -0.5 0"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/wheel/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="20 2 0"
            material="shader: flat; transparent: true; side: double; src: url(images/wheel.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="20 3.3 0" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="20 0.45 0" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-wheel.png)"
                 src="images/title-wheel.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>


  <!-- Second Row -->
  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-20 4 10"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-20 -0.5 10"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/equalizer/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-20 2 10"
            material="shader: flat; transparent: true; side: double; src: url(images/equalizer.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-20 3.3 10" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-20 0.45 10" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-equalizer.png)"
                 src="images/title-equalizer.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-15 4 10"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-15 -0.5 10"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/drop/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-15 2 10"
            material="shader: flat; transparent: true; side: double; src: url(images/drop.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-15 3.3 10" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-15 0.45 10" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-drop.png)"
                 src="images/title-drop.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-10 4 10"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-10 -0.5 10"
            material="shader: flat; color: #000" onclick="location.href='http://vr.ispystore.ca/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-10 2 10"
            material="shader: flat; transparent: true; side: double; src: url(images/ispystore.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-10 3.3 10" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-10 0.45 10" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-ispystore.png)"
                 src="images/title-ispystore.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>


  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="10 4 10"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="10 -0.5 10"
            material="shader: flat; color: #000"
            onclick="location.href='http://vr.greenlaserpointerstore.com/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="10 2 10"
            material="shader: flat; transparent: true; side: double; src: url(images/greenlaser.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="10 3.3 10" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="10 0.45 10" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-greenlaser.png)"
                 src="images/title-greenlaser.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="15 4 10"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="15 -0.5 10"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/tron2/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="15 2 10"
            material="shader: flat; transparent: true; side: double; src: url(images/tron2.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="15 3.3 10" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="15 0.45 10" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-tron2.png)"
                 src="images/title-tron2.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="20 4 10"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="20 -0.5 10"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/city/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="20 2 10"
            material="shader: flat; transparent: true; side: double; src: url(images/city.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="20 3.3 10" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="20 0.45 10" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-city.png)"
                 src="images/title-city.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>


  <!-- Third Row -->
  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-20 8 20"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-20 -0.5 20"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/escape/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-20 2 20"
            material="shader: flat; transparent: true; side: double; src: url(images/escape.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-20 3.3 20" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-20 0.45 20" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-escape.png)"
                 src="images/title-escape.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-15 8 20"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-15 -0.5 20"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/escape2/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-15 2 20"
            material="shader: flat; transparent: true; side: double; src: url(images/escape2.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-15 3.3 20" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-15 0.45 20" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-escape2.png)"
                 src="images/title-escape2.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-10 8 20"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-10 -0.5 20"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/lava-cave/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-10 2 20"
            material="shader: flat; transparent: true; side: double; src: url(images/lava-cave.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-10 3.3 20" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-10 0.45 20" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-lava-cave.png)"
                 src="images/title-lava-cave.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>


  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="10 8 20"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="10 -0.5 20"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/castle/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="10 2 20"
            material="shader: flat; transparent: true; side: double; src: url(images/castle.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="10 3.3 20" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="10 0.45 20" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-castle.png)"
                 src="images/title-castle.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="15 8 20"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="15 -0.5 20"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/pirate/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="15 2 20"
            material="shader: flat; transparent: true; side: double; src: url(images/pirate.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="15 3.3 20" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="15 0.45 20" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-pirate.png)"
                 src="images/title-pirate.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="20 8 20"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="20 -0.5 20"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/minigolf/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="20 2 20"
            material="shader: flat; transparent: true; side: double; src: url(images/minigolf.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="20 13.3 20" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="20 0.45 20" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-minigolf.png)"
                 src="images/title-minigolf.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>


  <!-- Forth Row -->
  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-20 4 30"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-20 -0.5 30"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/welcome/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-20 2 30"
            material="shader: flat; transparent: true; side: double; src: url(images/welcome.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-20 3.3 30" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-20 0.45 30" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-welcome.png)"
                 src="images/title-welcome.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-15 4 30"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-15 -0.5 30"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/plinko/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-15 2 30"
            material="shader: flat; transparent: true; side: double; src: url(images/plinko.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-15 3.3 30" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-15 0.45 30" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-plinko.png)"
                 src="images/title-plinko.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="-10 4 30"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="-10 -0.5 30"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/foosball/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="-10 2 30"
            material="shader: flat; transparent: true; side: double; src: url(images/foosball.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="-10 3.3 30" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="-10 0.45 30" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-foosball.png)"
                 src="images/title-foosball.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="10 4 30"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="10 -0.5 30"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/craps/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="10 2 30"
            material="shader: flat; transparent: true; side: double; src: url(images/craps.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="10 3.3 30" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="10 0.45 30" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-craps.png)"
                 src="images/title-craps.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>

  <a-entity mixin="col2" geometry="primitive: cylinder; height: 1; radius: 1.495" position="15 4 30"
            material="shader: flat; color: #000"></a-entity>
  <a-entity mixin="col1" geometry="primitive: cylinder; height: 0.1; radius: 1.49" position="15 -0.5 30"
            material="shader: flat; color: #000" onclick="location.href='http://drawvr.com/store/'"></a-entity>
  <a-entity geometry="primitive: plane; height: 2; width: 3" position="15 2 30"
            material="shader: flat; transparent: true; side: double; src: url(images/store.jpg)"></a-entity>
  <a-curvedimage radius="1.502" height="1" theta-length="360" theta-start="90" position="15 3.3 30" rotation="0 0 180"
                 opacity="0.5"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.5;src:url(images/blue.png)"
                 src="images/blue.png"
                 geometry="height:1;primitive:cylinder;radius:1.502;segmentsRadial:48;thetaLength:360;openEnded:true;thetaStart:90"></a-curvedimage>
  <a-curvedimage radius="1.503" height="0.4" position="15 0.45 30" theta-start="-90" theta-length="180" opacity="0.4"
                 material="color:#FFF;shader:flat;side:double;transparent:true;repeat:-1 1;opacity:0.4;src:url(images/title-store.png)"
                 src="images/title-store.png"
                 geometry="height:0.4;primitive:cylinder;radius:1.503;segmentsRadial:48;thetaLength:180;openEnded:true;thetaStart:-90"></a-curvedimage>


  <!-- Camera -->
  <a-entity id="camera" camera="active:true" universal-controls="" kinematic-body=""
            jump-ability="enableDoubleJump: true; distance: 3;" position="0 0.9288888888888888 45"
            rotation="0 0 0" velocity="0 0 0" gamepad-controls="" keyboard-controls=""
            touch-controls="" hmd-controls="" mouse-controls="">
    <a-entity id="cursor" cursor="fuse: true; maxDistance: 5; timeout: 1" geometry="primitive: sphere; radius: 1;"
              material="color: red; opacity: 1;" position="0 -10 0" rotation="0 0 90" raycaster=""></a-entity>
  </a-entity>

  <!-- Floor -->
  <a-entity static-body="" geometry="primitive: plane; height: 5000; width: 5000" position="0 -0.5 -5"
            rotation="-90 0 0" material="shader: flat; src: url(images/floor.png); repeat: 2001 2001"></a-entity>
  <!-- Lighting and Background -->
  <a-sky color="#fff" radius="5000" material="color:#fff;shader:flat"
         geometry="primitive:sphere;radius:5000;segmentsWidth:64;segmentsHeight:64" scale="-1 1 1"></a-sky>
  <a-entity light="color:#fff;type:ambient" data-aframe-default-light=""></a-entity>
  <a-entity light="color:#fff;intensity:0.2" position="-1 2 1" data-aframe-default-light=""></a-entity>

  <div class="a-orientation-modal a-hidden">
    <button>Exit VR</button>
  </div>
</a-scene>
<script>
  document.querySelector('#model-obj').addEventListener('model-loaded', function(model) {
    console.log('loaded', model);
  });
</script>
</body>
</html>