<%- include('partials/header') %>
<div class="container">

  <div id="root"></div>
  <script src="http://localhost:8080/bundle.js"></script>


  <script>

</script>
  
<%- include('partials/footer') %>